.box{
    background-color: blueviolet;
    align-items: center;
    padding: 10px;
}

.texto{
    font-size: 32;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}